# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo / Metro
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# Logs & Debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*
*.log

# System files (macOS, Windows)
.DS_Store
Thumbs.db
desktop.ini
*.pem

# Local env / credentials
.env
.env.local
.env*.local
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# Generated native folders & local properties
/ios/
/android/
local.properties
android/local.properties
